.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

.ipynb_checkpoints/


.vscode/
.idea/

.DS_Store
Thumbs.db


*.egg-info/
dist/
build/

*.log

.env
.env.*
!.env.example


datasets/
data/raw/
data/train/
data/validation/
data/test/

*.temp

*.png
*.jpg
*.jpeg


checkpoint/
checkpoints/
logs/